Django==1.6.1
Fabric==1.8.1
PIL==1.1.7
South==0.8.4
astroid==1.0.1
awscli==1.2.13
bcdoc==0.12.1
beautifulsoup4==4.3.2
boto==2.25.0
botocore==0.33.0
colorama==0.2.5
dj-database-url==0.2.2
dj-static==0.0.5
django-storages==1.1.8
django-toolbelt==0.0.1
docutils==0.11
ecdsa==0.10
gevent==1.0
greenlet==0.4.2
gunicorn==18.0
jmespath==0.2.1
logilab-common==0.61.0
paramiko==1.12.1
ply==3.4
psycopg2==2.5.2
pyasn1==0.1.7
pycrypto==2.6.1
pylint==1.1.0
pystache==0.5.3
python-dateutil==2.2
pytz==2013.9
raven==4.0.4
rsa==3.1.2
six==1.5.2
static==1.0.2
wsgiref==0.1.2
